<div class="container">
  <div class="row vertical-offset-100" *ngIf="!sendMailDone">
    <div class="loading" [hidden]="!isLoading">
      <img src="{{Constant.icon_url_loading}}" alt="" height="50">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4" [hidden]="isLoading">
      <div class="logo">
        <a routerLink="{{Constant.url_home}}"><img src="{{Constant.icon_url_logo}}" title="finandesk"></a>
      </div>
      <div class="panel panel-default form-login">
        <div class="panel-heading authen-title">
          <h3 class="panel-title">{{'forgot.title' | translate}}</h3>
        </div>
        <div class="panel-body">
          <form  method="POST" action="javascript:void(0);" name="form" id="forgotForm"
                 #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm.value)" accept-charset="UTF-8">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="{{'forgot.label.email' | translate}}"
                       name="email" type="email" ngModel #email="ngModel" required>
              </div>
              <div class="form-group re-captcha" id="recaptcha">
                <re-captcha
                  name="captcha"
                  required
                  language="{{dataService.currentLang}}"
                  site_key="6LcsTicUAAAAAJMO91h8AQBdt5R1TA9J2QudxxXk"
                  (captchaResponse)="resolved($event)"></re-captcha>
              </div>
              <div class="form-group">
                <button class="btn btn-block" [disabled]="!forgotForm.form.valid || recaptchaToken === null">{{'common.button.send' | translate}}</button>
              </div>
              <div class="pull-left">
                <a routerLink="{{Constant.url_login}}">{{'common.button.login' | translate}} </a>
              </div>
              <div class="pull-right">
                <a routerLink="{{Constant.url_register_investor}}">{{'common.button.register' | translate}}</a>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <util-language></util-language>
    </div>
  </div>
  <div *ngIf="sendMailDone">
    Please check mail
  </div>
</div>
